#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.card {
  padding: 2em;
}

table {
  margin: -20em auto;
  border: 3px solid rgb(135, 188, 234);
  border-collapse: collapse;
  padding: 20px;
  margin-bottom: 10px;
  table-layout: fixed;
  width: 100%;
}

table th {
  color: rgb(68, 33, 8);
  text-shadow: 1px 1px 10px rgb(82, 6, 6);
  padding: 5px;
  border: 3px solid white;
  text-align: center;
  font-size: 30px;
  background-color: darkorange;
}

table td {
  padding: 10px;
  border: 3px solid white;
  min-width: 150px;
}

.row-text {
  text-align: center;
  color: rgb(195, 0, 255);
  text-shadow: 1px 1px 40px rgb(255, 255, 255);
  font-weight: bolder;
}

.row-data {
  text-align: left;
  color: rgb(196, 229, 255);
  text-shadow: 1px 1px 1px black;
}

.table-list .contact-row {
  cursor: pointer;
}

.close-button {
  background-color: chocolate;
  text-shadow: 1px 1px 10px rgb(82, 6, 6);
  color: aliceblue;
  padding: 5px;
  border: solid rgb(135, 188, 234);
  border-radius: 15px;
}

.close-button:hover {
  background-color: rgb(195, 0, 255);
  font-size: x-large;
  transition: 0.4s;
}
